.App {
  background-color: black;
  color: rgb(122, 214, 163);
  font-family: "Orbitron", sans-serif;
  font-weight: lighter;
  text-align: left;
}

.App-header {
  color: white;
  padding: 50px 10px 5px 0px;
  text-align: left;
}

a {
  color: rgba(122, 214, 163, 0.74);
}

a:hover {
  color: white;
  cursor: pointer;
}

footer {
  color: grey;
  font-size: 12px;
  font-style: italic;
  padding: 0px 0px 50px 0px;
}
