html {
  height: 100%;
}
body {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #434343;
  background-image: linear-gradient(#434343, #282828);
}
